body{
	background: #eee;
}

.right .container-fluid p{
	line-height:26px;

}
.right{
	background: #fff;
	margin-top: 20px;
}
.nav1{
	background: #fff;
	margin-top: 20px;
}
.left1 ul li{
	border-bottom: 1px solid #eee;
}

ul.nav1{
        width: 140px;
        margin-top: 220px;
        margin-left: 50px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav1 li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav1 li:first-child{
        border-top: none;
    }
    ul.nav1 li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav1 li.active a, ul.nav1 li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav1 li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav1 li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav1.affix{
        top: 30px; 
    }