
.list{
	margin-top: 20px;
}
.list2 .row{
	background: #fff;
	box-shadow: 2px 3px 4px #ccc;
	margin-top: 20px;
}
.list2 .col-md-5{
	padding: 20px;
	
}
.list2 .col-md-7{
	padding: 15px 15px 15px 0;

}
.list1{
	margin-top:20px;
	background: #fff;
	box-shadow: 2px 3px 4px #ccc;
	padding: 10px;
}

body{
	background: #eee;
}
@media screen and (max-width: 768px){
	.list-h4{
		font-size: 12px;
	}
}


